{{template "base" .}}

{{define "content"}}
    <!-- main page content -->
    <main class="w-100 pb-5 mb-4 mt-2">

        <!-- page container -->
        <div class="container">

            <!-- image -->
            <div class="row">
                <div class="col">
                    <img src="../static/images/generals-quarters.png" alt="room image" class="img-fluid
                    mx-auto d-block img-thumbnail room-image"
                         srcset="../static/images/generals-quarter40.png 640w, ../static/images/generals-quarter50.png 800w,
                    ../static/images/generals-quarter60.png 960w, ../static/images/generals-quarter70.png 1120w,
                    ../static/images/generals-quarter80.png 1280w, ../static/images/generals-quarter85.png 1360w,
                    ../static/images/generals-quarter90.png 1440w, ../static/images/generals-quarter95.png 1520w,
                    ../static/images/generals-quarters.png 1600w" loading="lazy">
                </div>
            </div>

            <!-- hero -->
            <div class="row text-center mt-3">
                <div class="col">
                    <h1>General's Quarters</h1>
                    <p>
                        Your home away from home, set on the majestic waters of Atlantic Ocean,
                        this will be a great vacation.
                        Your home away from home, set on the majestic waters of Atlantic Ocean,
                        this will be a great vacation.
                        Your home away from home, set on the majestic waters of Atlantic Ocean,
                        this will be a great vacation.
                        Your home away from home, set on the majestic waters of Atlantic Ocean,
                        this will be a great vacation.
                    </p>
                </div>
            </div>

            <!-- reservation link -->
            <div class="row">
                <div class="col text-center">
                    <a id="check-availability-button" href="#!" class="btn btn-success"
                       data-bs-toggle="modal" data-bs-target="#reservationDateModal">Check Availability</a>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="reservationDateModal" tabindex="-1" aria-labelledby="reservationDateModalLabel"
             data-bs-backdrop="static" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="check-availability-form-close">Enter Date</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id="form-modal-general" action="/generals-quarters" method="post"
                          novalidate class="needs-validation">
                        <label>
                            <input hidden="hidden" type="text" name="csrf_token" value="{{.CSRFToken}}">
                        </label>
                        <div class="row">
                            <div class="col">
                                <div class="row" id="reservation-dates-general">
                                    <div class="col-md-6">
                                        <label>
                                            <input required class="form-control" type="date" name="start"
                                                   placeholder="Arrival">
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <label>
                                            <input required class="form-control" type="date" name="end"
                                                   placeholder="Departure">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Submit Dates</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
{{end}}

{{define "js"}}
    <script src="../static/js/generals.js"></script>
    <script>
        const elem = document.getElementById('reservation-date-general');
        const rangePicker = new DateRangePicker(elem, {
            format: "yyyy-mm-dd",
            autohide: true,
        });

        const modalForm = document.getElementById("form-modal-general");
        modalForm.addEventListener("submit", onFormSubmit);
        const handleFormSubmission = (HTMLEvent) => {

        }
        /* document.getElementById("check-availability-button").addEventListener("click", function () {
            let html = `
        <form id="check-availability-form" action="" method="post" novalidate class="needs-validation">
            <div class="row">
                <div class="col">
                    <div class="row" id="reservation-dates-modal">
                        <div class="col">
                            <input disabled required class="form-control" type="date"
                                name="start" id="start" placeholder="Arrival"/>
                        </div>
                        <div class="col">
                            <input disabled required class="form-control"
                                type="date" name="end" id="end" placeholder="Departure">
                        </div>
                    </div>
                </div>
            </div>

        </form>
        `;
            attention.custom({
                title: 'Choose your dates',
                msg: html,
            });
        });*/
    </script>
{{end}}