{{template "base" .}}

{{define "content"}}
    <!-- main page content -->
    <main class="w-100 pb-5 mb-4 mt-2">
        <!-- page container -->
        <div class="container">
            <!-- hero -->
            <div class="row text-center mt-3">
                <div class="col">
                    <h1>Reservation</h1>
                    <p>
                        Your home away from home, set on the majestic waters of Atlantic Ocean,
                        this will be a great vacation.
                        Your home away from home, set on the majestic waters of Atlantic Ocean,
                        this will be a great vacation.
                        Your home away from home, set on the majestic waters of Atlantic Ocean,
                        this will be a great vacation.
                        Your home away from home, set on the majestic waters of Atlantic Ocean,
                        this will be a great vacation.
                    </p>
                </div>
            </div>

            <!-- reservation link -->
            <div class="row">
                <div class="col text-center">
                    <a href="/make-reservation" class="btn btn-success">Make Reservation Now</a>
                </div>
            </div>
        </div>
    </main>
{{end}}